{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./src/",
          "test": "./test/"
        }
      }
    ]
  ]
}
